2025/05/JP0ytaw6djQB1UM9.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Merge as one document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-21T10:17:22.373Z",
  "id": "JP0ytaw6djQB1UM9",
  "isArchived": false,
  "meta": null,
  "name": "Agent_old_384",
  "nodes": [
    {
      "parameters": {
        "content": "## Agent Tools for RAG - 384",
        "height": 469,
        "width": 603,
        "color": 4
      },
      "id": "91a1216a-5520-41c3-b37c-90d96905e465",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -460,
        -180
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        -100
      ],
      "id": "d208444a-1b18-4482-aa5f-1549ce7714ae",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "chroma/all-minilm-l6-v2-f32:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -400,
        120
      ],
      "id": "8fa068af-3852-4f9a-981f-9bef22b47f54",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "fv9DllLzKNe1SabK",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "ganttic_documents_384",
          "mode": "list",
          "cachedResultName": "ganttic_documents_384"
        },
        "prompt": "={{ $json.query }}",
        "topK": 24,
        "options": {
          "queryName": "match_documents_full_ganttic_384"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -200,
        -100
      ],
      "id": "9de7db9e-413a-4634-951b-618875104ad7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Vbtfas1bVCzZ2Wde",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet out = '';\nfor (const item of $input.all()) {\n  out += item.json.document.pageContent + \"\\n####\\n\"\n}\n\nreturn {out}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        120
      ],
      "id": "6e696ab1-0494-43fd-ac03-907130372ae5",
      "name": "Merge as one document"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup-zm",
  "repo_owner": "zlatkomq",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-05-21T10:17:22.373Z",
      "updatedAt": "2025-05-21T10:17:22.373Z",
      "role": "workflow:owner",
      "workflowId": "JP0ytaw6djQB1UM9",
      "projectId": "hlNkEWAlDmmc5iQw"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-04T11:46:58.829Z",
  "versionId": "38ad9b5b-0c64-4651-921c-7039bc77b2b8"
}