2025/05/qQj2f1nqk8lhtuas.json
{
  "active": false,
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-23T14:55:10.347Z",
  "id": "qQj2f1nqk8lhtuas",
  "isArchived": false,
  "meta": null,
  "name": "query_executor",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query.sql }}",
        "options": {}
      },
      "id": "46e7fb7c-e49b-4d84-aa33-5337de6bec7b",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        100,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "wK2pSCG9jTniRU28",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2f94fb1-3deb-466a-a36c-e3476511d5f2",
              "name": "response",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e9b288a3-5f28-4586-8a1c-a8cb53b2927c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        80
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        80
      ],
      "id": "89e5eb1a-66b0-48f7-b5b8-f4748da579c7",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup-zm",
  "repo_owner": "zlatkomq",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-05-23T14:55:10.347Z",
      "createdAt": "2025-05-23T14:55:10.347Z",
      "role": "workflow:owner",
      "workflowId": "qQj2f1nqk8lhtuas",
      "projectId": "hlNkEWAlDmmc5iQw"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-23T14:55:10.347Z",
  "versionId": "53be794a-d8bb-4121-9c27-5ff409a3d5c8"
}