2025/03/21WI43svwF8WBQea.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ganttic Tasks": {
      "main": [
        [
          {
            "node": "Process Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Increment Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tasks": {
      "main": [
        [
          {
            "node": "Insert Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Page": {
      "main": [
        [
          {
            "node": "Fetch Ganttic Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Page": {
      "main": [
        [
          {
            "node": "Set Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pages?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tasks": {
      "main": [
        [
          {
            "node": "More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-28T10:46:32.370Z",
  "id": "21WI43svwF8WBQea",
  "isArchived": false,
  "meta": null,
  "name": "PAGGINATE_TASKS_new",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -180
      ],
      "id": "01f7e9ce-bea6-4d24-8333-79c93bcd2671",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://planner.ganttic.com/api/v1/tasks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "9062f2555255d4e42a69eb2c54bbbcf61a61e03d2881f4480ea3a5e0e842b8f8"
            },
            {
              "name": "includeEmptyDataFields",
              "value": "0"
            },
            {
              "name": "timeMin",
              "value": "={{$now.format('yyyy-MM-dd')}}"
            },
            {
              "name": "timeMax",
              "value": "={{$now.plus(6, 'months').format('yyyy-MM-dd')}}"
            },
            {
              "name": "page",
              "value": "={{$json[\"page\"] || 1}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3c9af667-a244-49a9-890b-a60b7434f34a",
      "name": "Fetch Ganttic Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        -180
      ]
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        80
      ],
      "id": "c6538e5b-f01a-4078-bcaf-0fa67af78a38",
      "name": "Wait",
      "webhookId": "34f21572-31a2-4c5b-a08a-d4be2e33651d"
    },
    {
      "parameters": {
        "jsCode": "// Process tasks\nconst item = items[0];\nconst pros = item.json.items || [];\n\nreturn pros.map(pro => {\n\n  return {\n      json: {\n          id: pro.id,\n          name: pro.name,\n          project_id: pro.projectId??'',\n          assigned_resources: pro.resources??[],\n          start_date: pro.created??'',\n          end_date: pro.updated??'',\n          status: pro.status??'',\n          utilizationPercent: pro.utilizationPercent??0\n      }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -180
      ],
      "id": "1f78c7c9-c71b-4272-9e2c-ec3a04479ad7",
      "name": "Process Tasks"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "page",
              "value": "={{$json[\"next_page\"] || 1}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Page",
      "type": "n8n-nodes-base.set",
      "position": [
        200,
        -180
      ],
      "typeVersion": 1,
      "id": "186222c8-f101-4ede-ae7f-3ef507b6122d"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "next_page",
              "value": "={{ $('Set Page').item.json.page+1 }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Increment Page",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        360,
        140
      ],
      "id": "0b7c39a1-5e55-4380-8499-c611fb1d163a"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Set Page').first().json.page }}",
              "value2": "={{ $('Fetch Ganttic Tasks').first().json.pageCount }}"
            }
          ]
        }
      },
      "name": "More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        160
      ],
      "id": "34a467c8-9866-4b44-bcb3-ae85cc38ec7a"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ganttic_api_tasks",
          "mode": "list",
          "cachedResultName": "ganttic_api_tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "utilizationPercent": "={{ $json.utilizationPercent }}",
            "project_id": "={{ $json.project_id }}",
            "assigned_resources": "={{ $json.assigned_resources }}",
            "start_date": "={{ $json.start_date }}",
            "end_date": "={{ $json.end_date }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utilizationPercent",
              "displayName": "utilizationPercent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_resources",
              "displayName": "assigned_resources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        -180
      ],
      "id": "f5f05f72-d4bb-4b01-8997-9764d2fb0206",
      "name": "Insert Tasks",
      "credentials": {
        "postgres": {
          "id": "wK2pSCG9jTniRU28",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"json\": {\n    \"success\": true\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        60
      ],
      "id": "4781dd9f-5868-49c4-828f-ccbfed6a57a3",
      "name": "Code"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup-zm",
  "repo_owner": "zlatkomq",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-31T12:45:21.811Z",
      "updatedAt": "2025-03-31T12:45:21.811Z",
      "id": "mUYuMooITov17Xfj",
      "name": "Ganttic"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-04-01T09:04:05.557Z",
  "versionId": "7ad6c924-d578-45df-8271-5668081dae6a"
}