2025/09/d9AX5itJtErYBVs4.json
{
  "active": false,
  "connections": {
    "Summarization": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot Search Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Define routing emails": {
      "main": [
        [
          {
            "node": "Summarization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Search Client": {
      "main": [
        [
          {
            "node": "HubSpot Save Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Define routing emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-18T12:05:29.648Z",
  "id": "d9AX5itJtErYBVs4",
  "isArchived": false,
  "meta": null,
  "name": "Speech processing",
  "nodes": [
    {
      "parameters": {
        "content": "## Router agent\nMakes decisions with the help of an LLM  \n- Analyzes the content\n- Decides which part of the transcript is relevant to the different departments\n- Sends the emails to the departments\n",
        "height": 560,
        "width": 540,
        "color": 4
      },
      "id": "aa466bc8-7172-4351-85ca-81eb977e3f6e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.response.text }}",
        "options": {
          "systemMessage": "=You are provided with some client-company conversation and should decide who has to be informed about the feedback. Always only inform one person. Those are your options: \n- It's about a product, send an email to {{ $('Define routing emails').item.json['Support Email'] }}\n- It's about an invoicing problem, send an email to {{ $('Define routing emails').item.json['Administrative Email'] }}\n- It's  related to a travelling/trip, send an email to {{ $('Define routing emails').item.json['Commercial Email'] }}\n\nAdd the email of the person (\"{{ $('Webhook').item.json.body['Client Email'] }}\") at the beginning of the text preceded by \"FROM CLIENT: \"\nUse the Mailjet tool to inform each of the most related department. Provide mailjet with a subject, an email, and the email body formated as html which is the client conversation itself."
        }
      },
      "id": "092fb793-cebe-4080-b904-87a47cdc2a82",
      "name": "Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -256,
        624
      ],
      "notesInFlow": true,
      "typeVersion": 1.8,
      "notes": "Route the client feedback topics to the relevant department "
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "summarizationMethod": "stuff",
              "prompt": "=Summarize the following Converstaion in 2-3 sentences:\n\n\n{{ $('When chat message received').item.json.chatInput??'' }}\nJust output the summarized conversation and nothing else. Use the same language as the input"
            }
          }
        }
      },
      "id": "3e1bb5db-91b8-4df8-ae4b-faa1f7a70717",
      "name": "Summarization",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -848,
        224
      ],
      "notesInFlow": true,
      "typeVersion": 2,
      "alwaysOutputData": false,
      "notes": "The transcript summarized here"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "2b0909c7-eb91-45db-88c9-e79129517b80",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -176,
        832
      ],
      "webhookId": "be3ad85f-a576-44d6-9383-6a038edfb25a",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "fz4CIeLXcT9dopR5",
          "name": "Q_Gmail_OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set emails here\nFor each responsible person",
        "height": 260,
        "width": 260,
        "color": 4
      },
      "id": "7986b938-d03c-43c7-b947-b161af1c4849",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Webhook \nTo be used to send the transcription.",
        "height": 260,
        "width": 260,
        "color": 4
      },
      "id": "d4f3eb19-b5ed-4c2b-a1e6-2f5b5a3e3e6b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save transcription to Hubspot\n- Search for the client ID based on his email\n- Upload the summarized conversation as meeting notes",
        "height": 280,
        "width": 540,
        "color": 4
      },
      "id": "45c8d947-837c-41bc-bc9c-e58c678d78ba",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C08VCE4AYNL",
          "cachedResultName": "n8n"
        },
        "text": "=Below is the latest summary.\n\n{{ $json.response.text }}",
        "otherOptions": {}
      },
      "id": "4b8d07c8-a0a3-4e22-8ffd-fee4e28c8105",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        -336,
        -80
      ],
      "webhookId": "ffba5d59-965e-4042-a5cd-d6d89c443e75",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## Send the summary to Slack and WhatsApp\n- Configure Slack Channel\n- Configure WhatsApp Recepient",
        "height": 300,
        "width": 540,
        "color": 4
      },
      "id": "494d3cd4-8149-4681-ae2c-5717492648c3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "phoneNumberId": "702894569566382",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body['WhatsApp Contact Number'] }}",
        "template": "n8n_workflow_latest|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Webhook').item.json.body['Your Name'] }}"
                  },
                  {
                    "text": "={{ $('Summarization').item.json.response.text }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "ae861713-bafe-4393-b49c-433ae67cc8ed",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -96,
        -80
      ],
      "webhookId": "36dba7ba-f6f2-45a0-ad5d-cfd5c1622a49",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1ffeacc2-1dbd-4a9e-bf3f-6811ddd31642",
        "options": {}
      },
      "id": "01b803b8-4b73-40b9-8480-d7a9c5791ffc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1440,
        224
      ],
      "webhookId": "1ffeacc2-1dbd-4a9e-bf3f-6811ddd31642",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "099d5326-3452-47b8-9dc0-acc0e6fd951e",
              "name": "Support Email",
              "type": "string",
              "value": "kpendic+support@gmail.com"
            },
            {
              "id": "4ed84290-dbf7-47f7-8693-4f95e0c2fd7e",
              "name": "Administrative Email",
              "type": "string",
              "value": "kpendic+admin@gmail.com"
            },
            {
              "id": "614d4a5c-c9f2-4d82-bfcb-cfdcc8a4b07d",
              "name": "Commercial Email",
              "type": "string",
              "value": "kpendic+comercial@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "id": "a623b342-018b-4b8c-af87-d87c65a2d419",
      "name": "Define routing emails",
      "type": "n8n-nodes-base.set",
      "position": [
        -1152,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Webhook').item.json.body['Client Email'] }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "cf389ce5-be46-42cc-9dc4-3a840f1aad90",
      "name": "HubSpot Search Client",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        -336,
        240
      ],
      "notesInFlow": true,
      "typeVersion": 2.1,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "bjy4PGxwwdDJQ5Ud",
          "name": "HubSpot account"
        }
      },
      "notes": "Search for the id"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "type": "meeting",
        "metadata": {
          "body": "={{ $('Summarization').item.json.response.text }}",
          "title": "New meeting"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json.properties.hs_object_id }}"
          }
        }
      },
      "id": "c3198efe-8bed-4e6a-aef9-a5a9fa474f8e",
      "name": "HubSpot Save Notes",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        -96,
        240
      ],
      "notesInFlow": true,
      "typeVersion": 2.1,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "bjy4PGxwwdDJQ5Ud",
          "name": "HubSpot account"
        }
      },
      "notes": "Add meeting notes in the contact form"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1472,
        576
      ],
      "id": "ffe6bc07-ad2a-4599-9a05-30245d8a9302",
      "name": "When chat message received",
      "webhookId": "fd7257c6-b746-40b1-a4b4-65a40cc646be"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -960,
        480
      ],
      "id": "74ec6289-fd1a-4790-ab25-a915e3a29ab5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PP3hcBNXmc9tm7oW",
          "name": "Google Gemini(PaLM) Api account 2 - Q"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup-zm",
  "repo_owner": "zlatkomq",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-18T12:05:29.648Z",
      "updatedAt": "2025-09-18T12:05:29.648Z",
      "role": "workflow:owner",
      "workflowId": "d9AX5itJtErYBVs4",
      "projectId": "hlNkEWAlDmmc5iQw"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-25T09:19:15.773Z",
  "versionId": "6d179248-9128-4a05-85e3-ae4f8273d5f2"
}