2025/12/6OAXCREjFSECrs9i.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Documentero": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Documentero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-02T08:27:38.921Z",
  "id": "6OAXCREjFSECrs9i",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -176
      ],
      "id": "bf9e37a7-11b2-476b-b9f1-66291d1838c1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "document": "FzMyid5Ozd3W239fU5TO",
        "dataSource": "input"
      },
      "type": "n8n-nodes-documentero.documentero",
      "typeVersion": 1,
      "position": [
        -336,
        -320
      ],
      "id": "c6a7db13-cb9f-4cda-b15a-a83f5454ec33",
      "name": "Documentero",
      "credentials": {
        "documenteroApi": {
          "id": "Ims952U2xzbzmBRo",
          "name": "Documentero account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "243ca6b8-7e3e-4ec1-b59d-4e84e111d504",
              "name": "content",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -176
      ],
      "id": "697c6ded-1261-4ba2-a863-6caa0841ad1d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "candidates": [
            {
              "content": {
                "parts": [
                  {
                    "text": "Based on the review of the provided files and CSV data, here are the material obligations extracted for each agreement.\n\n### **Category 1: Data Processing & Privacy Agreements**\n\n**1. Securiti Data Processing Agreement (DPA) Template**\n*   **Parties:** Securiti Inc. (Processor) and Client (Controller) [^309]\n*   **Execution Date:** Undated Template (Pre-signed by Securiti) [^411]\n*   **Expiration/Termination:** Automatically terminates upon termination or expiration of the underlying Agreement [^404]\n\n**Material Obligations:**\n*   **Processing Instructions (Securiti):** Must process Client Personal Data only in accordance with Client’s documented instructions and as reasonably necessary for the provision of Services [^338].\n*   **Compliance (Client):** Must process Personal Data in accordance with Data Protection Laws, maintain required legal bases/consents, and provide documented instructions to Securiti [^333] [^334] [^336].\n*   **CCPA Restrictions (Securiti):** Prohibited from Selling or Sharing Client Personal Data; must not retain, use, or disclose data outside of the direct business relationship or for any purpose other than the specific Business Purpose defined [^340] [^341].\n*   **Sub-processors (Securiti):** Must notify Client of new Sub-processors via `http://status.securiti.ai` before authorization [^345].\n*   **Objection Rights (Client):** Client has **3 business days** to object to a new Sub-processor for data protection compliance reasons; failure to object constitutes deemed acceptance [^346] [^347].\n*   **Security Measures (Securiti):** Must maintain technical and organizational measures (Schedule 3), including AES 128-bit minimum encryption, access controls, and regular SOC2 audits [^349] [^357] [^359].\n*   **Incident Notification (Securiti):** Must notify Client without undue delay upon becoming aware of a Personal Data Incident [^367].\n*   **Data Subject Rights (Securiti):** Must assist Client with Data Subject Requests using commercially reasonable efforts; Client is responsible for associated costs [^365] [^366].\n*   **International Transfers (Both Parties):** Transfers from EEA/Switzerland/UK to the US must use the Data Privacy Framework (DPF); if DPF does not apply, EU Standard Contractual Clauses (Module 2 or 3) apply [^372] [^373].\n*   **Audit Rights (Client):** Client may conduct audits at their own cost; Securiti must provide copies of third-party audit reports/certifications once per year upon written request [^392] [^394].\n*   **Liability Cap (Securiti):** Aggregate liability is limited to amounts paid under the Agreement within the **12 months** preceding the claim [^397].\n*   **Data Return/Deletion (Securiti):** Must delete or return data upon termination; online system data is deleted within **one business week** of a confirmed deletion request [^385] [^389].\n\n**2. HIPAA Business Associate Agreement (BAA)**\n*   **Parties:** Securiti, Inc. (Business Associate) and Covered Entity (Customer) [^645]\n*   **Execution Date:** September 9, 2025 (Securiti Signature Date) [^646]\n*   **Expiration/Termination:** Indefinite duration; terminates for cause or when all PHI is returned/destroyed [^665] [^669]\n\n**Material Obligations:**\n*   **Safeguards (Securiti):** Must implement appropriate safeguards to protect the confidentiality, integrity, and availability of e-PHI in compliance with 45 C.F.R. Part 164, Subpart C [^652].\n*   **Incident Reporting (Securiti):** Must report security incidents or non-permitted uses/disclosures within **5 business days** [^653].\n*   **Breach Reporting (Securiti):** Must report Breaches of Unsecured PHI within **30 calendar days** of discovery [^654].\n*   **Access Rights (Securiti):** Must make PHI in Designated Record Sets available within **15 days** of a request [^655].\n*   **Accounting of Disclosures (Securiti):** Must provide information for an accounting of disclosures within **30 days** of a request [^656].\n*   **Prohibitions (Securiti):** Prohibited from selling PHI without prior written consent or using PHI for marketing/fundraising unless permitted by law [^651].\n*   **Subcontractors (Securiti):** Must ensure all subcontractors create, receive, maintain, or transmit PHI execute Business Associate Agreements with restrictions identical to this BAA [^657].\n*   **Termination for Cause (Covered Entity):** May terminate the agreement if Securiti fails to cure a material breach within **10 business days** of written notice [^659].\n*   **Post-Termination (Securiti):** Must return or destroy all PHI; if return is not feasible, protections must be extended to the retained PHI indefinitely [^660].\n\n**3. CCPA Addendum**\n*   **Parties:** Securiti Inc. (Supplier/Service Provider) and Customer (Business) [^610]\n*   **Execution Date:** September 9, 2025 (Securiti Signature Date) [^641]\n*   **Expiration/Termination:** Automatically terminates upon termination or expiration of the underlying Agreement [^583]\n\n**Material Obligations:**\n*   **Service Provider Status (Securiti):** Must act as a Service Provider and process Personal Information solely for the specific Business Purpose of performing Services [^630] [^633].\n*   **Sales Prohibition (Securiti):** Explicitly prohibited from Selling or Sharing Customer Personal Information [^621].\n*   **Compliance (Customer):** Must comply with all obligations applicable to Businesses under the CCPA and indemnify Securiti for breaches related to Customer's use of services [^610] [^620].\n*   **Consumer Requests (Securiti):** Must provide reasonable assistance to Customer for valid Consumer requests and promptly forward any Requests to Know or Delete received directly [^625] [^626].\n*   **Deletion (Securiti):** Must promptly delete Customer Personal Information upon written request, subject to legal retention exceptions [^634].\n*   **Liability (Securiti):** Liability for data protection breaches is subject to the limitation of liability caps defined in the underlying Agreement [^614].\n\n---\n\n### **Category 2: Compliance Certifications & Assessments**\n\n**1. CSA STAR Registry Listing**\n*   **Parties:** Securiti and Cloud Security Alliance (CSA) [^837]\n*   **Execution Date:** June 21, 2021 (Listed Since); Updated February 22, 2024 [^839] [^840]\n*   **Expiration/Termination:** N/A (Continuous listing)\n\n**Material Obligations:**\n*   **Self-Assessment (Securiti):** Must maintain STAR Level One Self-Assessment status [^835].\n*   **Documentation (Securiti):** Must submit and update the Consensus Assessments Initiative Questionnaire (CAIQ v4.0.2) covering security controls [^841].\n\n**2. Data Privacy Framework Certification (EU-U.S., UK, Swiss)**\n*   **Parties:** Securiti, Inc. (Active Participant) [^768]\n*   **Execution Date:** November 7, 2023 (Original Certification) [^774]\n*   **Expiration/Termination:** Next certification due October 29, 2025 [^777]\n\n**Material Obligations:**\n*   **Principle Adherence (Securiti):** Must adhere to DPF Principles regarding the collection and processing of Non-HR Data [^779].\n*   **Complaint Response (Securiti):** Must respond to complaints regarding data handling within **45 days** [^793].\n*   **Dispute Resolution (Securiti):** Must utilize BBB National Programs DPF Services as the independent recourse mechanism [^794].\n*   **Lawful Disclosure (Securiti):** Required to disclose personal data in response to lawful requests by public authorities, including for national security or law enforcement requirements [^788].\n*   **Liability (Securiti):** Remains liable if third-party agents process data in a manner inconsistent with DPF principles, unless Securiti proves it was not responsible for the event [^787].\n\n**3. NIST Privacy Framework Mapping (Self-Assessment)**\n*   **Parties:** Securiti Inc. [^159]\n*   **Execution Date:** January 2025 (Assessment Period) [^161]\n*   **Expiration/Termination:** N/A (Point-in-time assessment)\n\n**Material Obligations:**\n*   **Control Mapping (Securiti):** Must map internal controls to NIST Privacy Framework Core Functions (Identify-P, Govern-P, Control-P, Communicate-P, Protect-P) and ISO 27701:2019 standards [^164] [^185].\n*   **Governance (Securiti):** Must maintain policies and procedures for risk management, workforce training, and monitoring of privacy posture [^194] [^196].\n\n**4. NIST Cybersecurity Framework (CSF) Self Assessment V2**\n*   **Parties:** Securiti Inc. [^237]\n*   **Execution Date:** September 9, 2025 (Document Date) [^304]\n*   **Expiration/Termination:** N/A (Subject to annual review) [^271]\n\n**Material Obligations:**\n*   **Security Testing (Securiti):** Must perform daily vulnerability scans and **annual** external penetration testing [^257] [^274].\n*   **Risk Assessment (Securiti):** Must conduct formal risk assessments **annually** [^258].\n*   **Access Control (Securiti):** Must enforce Multi-Factor Authentication (MFA) for cloud services and remote access [^255].\n*   **Certifications (Securiti):** Must maintain SOC 2 Type 2 and ISO 27001 certifications [^264] [^266].\n*   **Business Continuity (Securiti):** Must test and approve Business Continuity and Disaster Recovery plans **annually** [^256].\n\n---\n\n### **Category 3: Policies & Public Disclosures**\n\n**1. Privacy Policy**\n*   **Parties:** Securiti, Inc. and Users/Site Visitors [^60]\n*   **Execution Date:** May 2024 (Last Updated) [^80]\n*   **Expiration/Termination:** N/A\n\n**Material Obligations:**\n*   **CCPA Response Timing (Securiti):** Must respond to verifiable consumer requests within **45 days**, extendable by an additional 45 days with notice [^58].\n*   **Record Retention (Securiti):** Must maintain records of CCPA consumer requests and responses for at least **24 months** [^67].\n*   **Children's Data (Securiti):** Must promptly delete personal information if it is discovered to have been collected from a child under age 13 without parental consent [^118].\n*   **Data Subject Rights (Securiti):** Must honor requests for access, correction, deletion, and opt-outs (Do Not Sell/Share) subject to verification [^38] [^41].\n\n---\n\n### **Category 4: Technical Documentation**\n\n**1. Customer Data Flow Diagram (L10) & Supported File Formats**\n*   **Parties:** Securiti (Internal Technical Document) [^848]\n*   **Execution Date:** N/A (Technical Specification)\n*   **Expiration/Termination:** N/A\n\n**Material Obligations (Operational Specifications):**\n*   **Infrastructure (Securiti):** Must maintain specific infrastructure layers including Public Load Balancers, Private App/DB Subnets, and AWS Managed Services (RDS, Redshift) [^849] [^853] [^894].\n*   **File Parsing (Securiti):** Must support parsing for specific file formats including Archive (zip, rar), CAD, Database (mdb), Desktop Publishing (pdf), and Office formats (docx, xlsx) [^911]."
                  }
                ],
                "role": "model"
              },
              "finishReason": "STOP",
              "index": 0
            }
          ],
          "usageMetadata": {
            "promptTokenCount": 20995,
            "candidatesTokenCount": 12359,
            "totalTokenCount": 35962,
            "promptTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 20995
              }
            ],
            "thoughtsTokenCount": 2608
          },
          "modelVersion": "gemini-3-pro-preview",
          "responseId": "1WZ6hwRrJafzjhu4TYVQ3j9T2-4lVg3xH"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "content": "Here is the updated Due Diligence Report with the provided information integrated into the relevant sections and the Annex.\n\n  ---\n\n  **PRELIMINARY DOCUMENT DUE DILIGENCE REPORT**\n  **Operator:** Michael Tuvshin\n  **Date:** October 25, 2025\n  ________________\n\n\n  **SUMMARY OF PURPOSE**\n  This Preliminary Document Due Diligence Report (this \"Report\") sets forth an executive overview of the due diligence we have performed to date with respect to [the proposed acquisition/financing/transaction] (the \"Transaction\") of Securiti, Inc. (the \"Company\"), including its subsidiaries, unless the context otherwise requires. Rehan Jalil is referred to herein as the \"Founder.\" This Report has been prepared based solely on information provided to us by or on behalf of the Company through October 25, 2025 (the \"Review Date\") via an online data room hosted by [________________] (the \"Data Room\"), as well as [public reports filed with the SEC/other public sources] (collectively, the \"Diligence Materials\"), as identified in Annex I hereto. \n\n  **INITIAL DISCLAIMER**\n  This Report does not constitute legal advice or a legal opinion and should not be relied upon as such. The preparer of this Report is not acting as legal counsel and has not been engaged to provide legal services. This Report is intended solely for preliminary informational purposes and should be reviewed by qualified legal counsel prior to making any business or legal decisions. Please note that this memorandum is in draft form and subject to modification as additional documents are received and reviewed, and is also subject to additional assumptions, limitations, and qualifications set forth in Annex II.\n  ________________\n\n\n  **TABLE OF CONTENTS**\n  PRELIMINARY DOCUMENT DUE DILIGENCE REPORT        1\n  I. EXECUTIVE SUMMARY        4\n  II. INCORPORATION AND ORGANIZATION        4\n  III. CAPITALIZATION        5\n  IV. INDEBTEDNESS        6\n  V. MATERIAL AGREEMENTS        6\n  VI. INTELLECTUAL PROPERTY        9\n  VII. DATA PRIVACY AND SECURITY        10\n  VIII. EMPLOYEE MATTERS        11\n  IX. LITIGATION MATTERS        13\n  X. REAL PROPERTY        14\n  XI. REGULATORY AND TRANSACTION APPROVAL MATTERS        14\n  XII. OTHER MATTERS        15\n  XIII. EXHIBITS        16\n  XIV. Annexes        23\n  ________________\n  **1. EXECUTIVE SUMMARY** \n     1. **Corporate Structure and Governance**\n        1. Finding: The Company is organized as a Delaware corporation with a multi-jurisdictional subsidiary structure including entities in Pakistan, India, Australia, the United Kingdom, Germany, and Canada. Governance documents reflect recent updates through September 2025, including charter amendments increasing authorized stock.\n     2. **Capitalization and Financing**\n        1. Finding: The Company has progressed through Series A, B, and C financing rounds. As of July 2025, the Company increased its authorized Common Stock to 90,914,230 shares and its Equity Incentive Plan reserve to 18,421,341 shares.\n     3. **Indebtedness**\n        1. Finding: The Company maintains a $40 million debt facility ($20 million Term Loan / $20 million Revolver) with First-Citizens Bank (FCB) dated December 27, 2024. A material covenant breach regarding cash balance requirements (actual 22.3% vs. required 80%) was identified in the December 2024 compliance report; subsequent months show compliance. The Company also carries related-party debt in the form of promissory notes issued to the Founder and employees.\n     4. **Regulatory Compliance and Controls**\n        1. Finding: The Company maintains good standing in its primary jurisdiction (Delaware) and foreign qualifications (California). Material tax proceedings in Pakistan regarding Section 161 withholding defaults were identified and appear resolved via payments made in November 2024. In India, the Company maintains valid Importer-Exporter Codes and Tax Deduction Account Numbers. The Company holds a valid Commodity Classification (CCATS Z1718060). The Company maintains significant privacy and security certifications, including ISO/IEC 27701:2019, ISO 27001:2022, and active listing on the CSA STAR Registry. Internal financial reviews identified missing bank statements for the period of April through July 2025 and a variance between Net Revenue and Cash Receipts ($20.8M vs $41.2M).\n\n  **2. INCORPORATION AND ORGANIZATION**\n     1. **Entity Formation and Structure**\n        1. The Company is a Delaware corporation.\n        2. Jurisdiction: Delaware, USA. Entity Type: Corporation.\n        3. The Company has amended its Certificate of Incorporation multiple times, most recently in July 2025 to increase authorized share capital. Filings indicate Series A, B, and C preferred stock authorizations.\n        4. The Company is governed by a Board of Directors, consisting of designated seats for Series A (Mayfield), Series B/C representatives, the CEO, and Common holders.\n     2. **Chain of Title**\n        1. Ownership has evolved through successive financing rounds (Series A through Series C).\n        2. Material reorganizations include the transition of German operations from a shelf company (\"Mitras\") to \"Securiti Sciences GmbH.\"\n     3. **Subsidiaries**\n        1. Foundri (Private) Limited (Pakistan) [Regulatory notices confirm spelling as \"Foundri\"]\n        2. Securiti Sciences Pvt Ltd (India)\n        3. Securiti Sciences Pty Ltd (Australia)\n        4. Securiti Sciences Limited (United Kingdom)\n        5. Securiti Sciences GmbH (Germany)\n        6. Securiti, Inc. (British Columbia, Canada)\n        7. Securiti, Inc. (California Foreign Qualification)\n        3. Reference to Exhibit B (Legal Entity Structure Chart)\n     4. **Directors and Officers**\n        1. Board includes Rehan Jalil, James Stoddard, and investor representatives from firms including Mayfield (Navin Chaddha) and General Catalyst (Steve Herrod).\n        2. Key Officers identified: Rehan Jalil (CEO, owns 25.81% per December 2024 Perfection Certificate), John Cunningham (Public Officer/Director for subsidiaries).\n        3. Board Classes: Not specified in summary data.\n        4. Observer rights: Side letters confirm observer rights for Mayfield, General Catalyst, and specific meeting rights for P7 Global.\n        5. List of current executive officers and their titles\n     5. **Background Checks**\n        1. Scope of Public Records Review: Public records searches were conducted on key executive officers, including the Chief Executive Officer and Chief Financial Officer. Searches included publicly available court records, regulatory filings, news articles, and professional background information\n        2. Material Findings\n           1. No material adverse findings were noted in publicly available sources provided in the data room.\n           2. See Exhibit J (Background Search Summary) for further details\n\n  **3. CAPITALIZATION** \n     1. **Current Capitalization Structure**\n        1. The Company has authorized Common Stock, Series A Preferred, Series B Preferred, and Series C Preferred Stock. As of July 23, 2025, authorized Common Stock was increased to 90,914,230 shares.\n        2. Cap table showing current ownership (reference to Exhibit A)\n     2. **Historic Financing Rounds**\n        1. Equity Financings\n           1. Series A/A-1: Closed Jan/Mar 2019. Series A price $1.3782; Series A-1 price $2.1425. Led by Mayfield and General Catalyst.\n           2. Series B: Financing round closed Dec 2019. Price $4.3911. Investors included General Catalyst, Cisco, and Workday.\n           3. Series C: Financing round closed July 2022 with extensions in Jan/Aug 2023. Price $7.9190. Led by Owl Rock Technology Finance Corp.\n           4. Reference to Exhibit G (Historical Capital Structure/Shareholder History)\n        2. Prior Acquisitions and Dispositions\n           1. No material third-party acquisitions identified in the data room.\n           2. Secondary sale transaction recorded Aug 06, 2023 involving Schroders.\n           3. Repurchase transactions identified: Humza Iqbal (2021, 46,875 shares), Yoshifumi Takebuchi (Jan 2020, $15.00 total).\n           4. \n        3. Securities and Conversion Rights\n           1. Convertible instruments include Preferred Stock with liquidation preferences and protective provisions.\n           2. Outstanding Warrants: \n              1. Warrant to purchase Preferred Stock issued to First-Citizens Bank (formerly SVB) dated December 27, 2024 (Expires Dec 27, 2036; Exercise Price $7.9190).\n              2. Historical Series A-1 Warrant issued to SVB on July 25, 2019 (Expires July 25, 2029; Exercise Price $2.1425).\n           3. Restricted Stock Purchase Agreements (RSPAs) include auto-exercise repurchase options upon termination and Section 280G cutback clauses.\n           4. Restrictions on transfer include Rights of First Refusal (ROFR), Co-Sale (Tag-Along) rights, and lock-up periods (180 days post-IPO) in Restricted Stock Purchase Agreements and Investor Rights Agreements.\n     3. **Side Letters or Other Arrangements**\n        1. Side letters exist with investors including Workday, Aramco, Citi Ventures, Owl Rock, P7 Global, and Schroders.\n        2. Investor preferential rights include information rights (significant holder status for Citi), MFN clauses (Owl Rock), and CFIUS restrictions (P7 Global).\n        3. Spousal Consents and Transfer Restrictions:\n           1. Supriya Sairam (Spouse of Anand Ganapathy): Executed August 14, 2025. Obligations include acknowledgment of stock transfer, consent to sale, waiver of rights, and allowance of future amendments.\n           2. Spouse of Muhammad Asif: Executed 2025. Obligations include consent to sale, agreement not to hinder transfer, and allowance of future amendments.\n\n  **4. INDEBTEDNESS**\n     1. **Provide a summary of the indebtedness in the data room by elaborating on the following in one paragraph:**\n        1. The data room contains Corporate Borrowing Certificates, executed Loan and Security Agreements, and promissory notes. Outstanding third-party debt is held with First-Citizens Bank (FCB), comprised of a $20 million Term Loan and a $20 million Revolving line of credit. Related-party debt includes promissory notes issued to the Founder, Rehan Jalil, and key employees including James Stoddard and Ahmed Talha Khan.\n     2. **Debt Arrangements**\n        1. First-Citizens Bank (formerly SVB)\n           1. Borrowing capacity: $40,000,000 total facility ($20,000,000 Term Loan; $20,000,000 Revolving Line of Credit).\n           2. Terms: Interest rate is the greater of 4% or Prime Rate.\n           3. Interest rates: Greater of 4% or Prime Rate.\n           4. Financial covenants: Maintain Adjusted Quick Ratio ≥ 1.25:1.00; maintain 80% of cash deposits with the Bank. A breach was identified in December 2024 (22.3% deposits vs 80% required); subsequent months (Jan–July 2025) show compliance.\n           5. Maturity dates: Revolver matures November 1, 2027; Term Loan matures November 1, 2028.\n           6. Prepayment provisions: Not specified.\n           7. Change of control provisions: Negative covenant restricts Change of Control > 49%. Warrant converts to cash upon Acquisition if FMV > Exercise Price ($7.9190).\n           8. Collateral: Secured by Company assets; Negative pledge on IP.\n           9. Standby Letter of Credit: Issued February 11, 2025, for $262,790.60 to beneficiary SR Winchester, LLC (expiring March 1, 2037), secured by a cash pledge agreement.\n     3. **Other Debt Obligations**\n        1. Promissory Notes to Rehan Jalil: Two notes issued in 2023, maturing June 2033, secured by 1,101,998 shares each. (Note: A 2018 note was repaid/cancelled in Feb 2019).\n        2. Loan to James Stoddard: Secured by 125,000 shares; maturity December 2030.\n        3. Loan to Ahmed Talha Khan: $100,000 principal; interest 1.26% per annum; maturity April 29, 2025 (Board Consent April 29, 2022).\n\n  **5. MATERIAL AGREEMENTS**\n     1. **Customer Agreements**\n        1. Provide a summary of the customer agreements in the data room by elaborating on the following in a paragraph. Write in full sentences and no run on sentences please and clear, short concise language please: \n           1. The data room contains a customer agreement with Gwinnett County effective December 16, 2022, with a total contract value of $58,905.00. This agreement is subject to the Georgia Open Records Act and requires $3M in insurance coverage. The data room also included an \"Example SaaS Contract\" utilized for diligence purposes with hypothetical billing, rather than an executed instrument. The Company also executed a Business Associate Agreement (BAA) with a Healthcare Organization, acting as a Business Associate with strict breach reporting timelines of 5 business days for security incidents and 30 calendar days for PHI breaches.\n           2. The Schedule of Exceptions references IP indemnification obligations to major customers including Capital One, Cisco, and Comcast.\n           3. Top Customers Analysis (reference to Exhibit B - Top 10 Customers by ARR) - Concentration risk analysis\n        2. Provide a summary of all customer agreements with each agreement in separate paragraphs with one paragraph for each agreement:\n           1. Gwinnett County Agreement: Effective December 16, 2022, for a 12-month term expiring December 16, 2023. Total contract value is $58,905 ($53,550 software / $5,355 services). The agreement mandates compliance with the Georgia Open Records Act and requires the Company to maintain $3,000,000 in insurance coverage.\n           2. Business Associate Agreement (BAA): Executed with a Healthcare Organization. The Company acts as a Business Associate, restricting PHI use to agreed services. Breach reporting is required within 30 calendar days for PHI and 5 business days for security incidents. The agreement requires the return or destruction of all PHI upon termination and grants the customer access rights within 15 days of a request.\n     2. **Supplier/Vendor Agreements**\n        1. Provide a summary of the customer agreements in the data room by elaborating on the following in one paragraph: \n           1. The Company has entered into a significant commitment with AWS totaling $16.5M across three tranches ($5M, $5.5M, $6M), which does not include a termination for convenience clause. Audited financials imply a total vendor commitment of approximately $15.6 million extending through January 2028. Additionally, a maintenance agreement for the Karachi office is in place which terminates concurrently with the underlying lease.\n           2. The Company has an agreement with Kaiser (November 2023) regarding health insurance, which includes 80% employer contribution for employees and 50% for dependents, along with religious exemption indemnification.\n        2. Provide a summary of all customer agreements with each agreement in separate paragraphs with one paragraph for each agreement:\n           1. AWS Agreement: Dated January 30, 2025. The agreement outlines a total spend commitment of $16.5 million. It contains a material restriction prohibiting termination for convenience. \n           2. Karachi Office Maintenance Agreement: Executed with vendor Foundri (Pvt.) Ltd. Terms include maintenance fees of PKR 12 per sq. ft., generator fees of PKR 13 per sq. ft., and an 8% annual escalation. The agreement terminates concurrently with the underlying lease, which has been provided and reviewed (dated April 29, 2019).\n           3. Kaiser Application: Executed November 22, 2023. This agreement governs group health coverage with employer contribution obligations (80% employee/50% dependent) and contains specific indemnification regarding religious exemptions.\n     3. **Partner Agreements**\n        1. Provide a summary of the partner agreements in the data room by elaborating on the following in one paragraph: \n           1. Partner agreements include a strategic arrangement with Cisco containing a Right of First Negotiation (ROFN). A 2020 Alliance Partner Agreement includes non-compete provisions and insurance requirements. Documentation indicates a partnership relationship with Accenture, evidenced by \"MySecurity Diagnostic\" and delivery infopacks referencing joint use cases, NIST standards, and data governance capabilities. Strategic partnership motions are in place with AWS (focusing on Amazon Bedrock/Q) and co-sell motions with Google Cloud (Agentspace) and Microsoft (Copilot).\n           2. \n        2. Provide a summary of all partner agreements with each agreement in separate paragraphs with one paragraph for each agreement:\n           1. Cisco Agreement (Feb 16, 2021): Contains a Right of First Negotiation (ROFN) triggered by a 2-day notice requirement, followed by a 10-day standstill/negotiation period. Termination triggers include an IPO exceeding $50M or a SPAC transaction.\n           2. Alliance Partner Agreement (2020): Includes material restrictive covenants, specifically a non-compete prohibiting the marketing of competitive products. The agreement requires $3M in insurance and caps liability at 12 months' fees.\n           3. Accenture Collaboration Materials: The data room contains \"MySecurity Diagnostic\" and \"Delivery Infopack\" documents dated November 2024 through September 2025. These materials outline joint capabilities for cloud environments (AWS, Azure, GCP) and compliance with NIST 800-53 and PCI 4.0.\n           4. Master Distributor Agreement: Contains a clause regarding \"Minimum Sales Commitments\" referenced in Exhibit A; however, the specific financial figures for these commitments were not extracted or provided in the data room.\n           5. Veeam Business DD: Business diligence materials dated September 30, 2025, indicate active engagement and business discussions with Veeam.\n     4. **Intercompany Agreements**\n        1. Provide a summary of the intercompany agreements in the data room by elaborating on the following in one paragraph. By intercompany, we mean only arrangements between the subsidiaries and the Parent company: \n           1. Intercompany agreements govern transfer pricing and IP assignment between the Parent and subsidiaries in India, UK, Canada, and Australia. Agreements executed in May 2019, Dec 2020, and updated in August 2025 establish transfer pricing markups of 14.5% for India and 5% for other jurisdictions.\n           2. Intercompany Agreements\n        2. Provide a summary of all intercompany agreements with each agreement in separate paragraphs with one paragraph for each agreement:\n           1. 2025 Intercompany Agreements (Aug 21, 2025): Covers subsidiaries in UK, Canada, India, and Australia. Establishes transfer pricing rates of 14.5% for India and 5% for UK, Canada, and Australia. These agreements have an indefinite term with a 90-day termination for convenience clause and include standard \"Work Made for Hire\" IP assignments.\n     5. **Advisory Agreements**\n        1. Provide a summary of the advisory agreements in the data room by elaborating on the following in one paragraph: \n           1. The data room includes engagement documents with Vistra for international entity management. GTM strategy documents reference Willkie Farr & Gallagher and Dutchess Management.\n           2. Advisory relationships exist with Vistra (Germany) GmbH.\n           3. \n        2. Provide a summary of all intercompany agreements with each agreement in separate paragraphs with one paragraph for each agreement.\n           1. Vistra Agreement (Apr 30, 2022): Corporate services agreement containing a liability cap limited to fees paid in the preceding 12 months.\n\n  **6. INTELLECTUAL PROPERTY** \n     1. **Overview**\n        1. Provide a summary of intellectual property in the data room by elaborating on the following in one paragraph.\n           1. The data room includes extensive documentation of Confirmatory IP Assignment Agreements executed by key consultants for Foundri LLC in November 2018. Specific individuals include Anand Ganapathy, Bharat Patel, Joy Dutta, Michael Busha, Michael Rinehart, Muhammad Asif, Muthappa Kokkengada, Tanveer Zamir, Yoshifumi Takebuchi, and Chakravarthi Chigurupati. These agreements include an irrevocable transfer of all IP rights, a waiver of moral rights, and a consideration payment of $100. The Company maintains a detailed Open Source Software (OSS) inventory dated September 19, 2025, covering over 52,000 components, including 32 items with copyleft obligations (LGPL/GPL). Registered IP includes 7 patent applications and pending trademarks. Technical documentation includes a Connector Catalogue (Shasta Connectors) dated September 2025.\n     2. **Registered Intellectual Property**\n        1. Patents\n           1. Patent Application #18/067,086: \"Exemplar Learning for Templatized Documents,\" filed December 16, 2021 (Management/Prosecution obligations active).\n           2. Patent Application #18/051,535: \"Large Scale Categorization of Website Cookies,\" filed November 1, 2021 (Awaiting publication).\n           3. Patent Application #18/792,889: \"Inferred Lineage Under Data Transformations,\" filed August 15, 2023 (Waiting for USPTO response).\n           4. Items categorized as \"NOT SUBMITTED\" in the 2025 patent list are maintained as trade secrets.\n        2. Trademarks\n           1. Trademark Application #97578371 for \"DATACOMMAND CENTER\" is listed as \"Allowed.\" The Company is obligated to pay maintenance fees and file renewal documents upon registration.\n        3. Copyrights\n           1. [Information not provided in data room]\n     3. **Domain Names and Social Media Accounts**\n        1. An Internet Domains and Social Media Accounts inventory was processed on September 30, 2025, identifying assets held by Securiti/Aditya Singhal.\n     4. **Employee and Contractor Agreements**\n        1. Employee IP Assignments\n           1. Restricted Stock Purchase Agreements (e.g., Muthappa Kokkengada, Nov 2018) contain standard IP assignment, invention assignment, and confidentiality provisions.\n        2. Contractor and Development Partner IP Assignments\n           1. Confirmatory IP Assignment Agreements (Foundri LLC): Executed November 15, 2018. Parties include Anand Ganapathy, Bharat Patel, Joy Dutta, Michael Busha, Michael Rinehart, Muhammad Asif, Muthappa Kokkengada, Tanveer Zamir, Yoshifumi Takebuchi, and Chakravarthi Chigurupati.\n           2. Key Terms: Irrevocable assignment of all \"Transferred Intellectual Property Rights\" (including mask work and database rights); waiver of all moral rights; consideration of $100 USD; and power of attorney granted to the Company to secure rights.\n        3. Consulting Agreements\n           1. Consultants are required to execute confidential information and invention assignment agreements per Investor Rights Agreements.\n     5. **Open Source Software (OSS) and Proprietary Software and Development**\n        1. OSS Inventory (Sept 19, 2025):\n           1. The Company utilizes 52,688 components under the MIT license, 18,347 under Apache-2.0, and 9,816 under BSD-3-Clause.\n           2. Copyleft/Viral Obligations: 32 components are licensed under LGPL-3.0-or-later, 20 under GPL-3.0-or-later, and 19 under LGPL-2.1-only.\n           3. Dual-Licensed Components: Identified components such as `c3p0` and `mchange-commons-java` (LGPL-2.1/EPL-1.0) and Eclipse components (EPL/GPL) require specific management to avoid copyleft triggers.\n        2. Artificial Intelligence (AI)\n           1. The Company classified its AI-driven PrivacyOps platform for export control purposes (SNAP-R submission Sept 2021). Internal policies restrict the use of customer data for AI training and require synthetic data usage. Strategic documents indicate execution of \"AI Security Partner\" motions with AWS.\n        3. Source Code Escrow\n           1. [Information not provided in data room]\n     6. **Third-Party Software and Inbound Licenses**\n        1. Inbound License Agreements\n           1. The Company is obligated to maintain accurate records of license terms for all third-party dependencies (Python, Java, Go) and strictly adhere to attribution requirements for MIT, Apache 2.0, and BSD licenses.\n        2. Co-existence Agreements\n           1. [Information not provided in data room]\n     7. **IP Provisions in Agreements**\n        1. Customer Agreements\n           1. Schedule of Exceptions notes indemnification obligations to major customers including Capital One, Cisco, and Comcast regarding IP claims.\n        2. Vendor Agreements\n           1. Foundri agreement contains explicit IP assignment for work product.\n        3. Partner Agreements\n           1. Alliance Partner Agreement prohibits marketing competitive products.\n        4. Government Funding\n           1. [Information not provided in data room]\n        5. Intercompany Agreements\n           1. 2025 Intercompany Agreements contain \"Work Made for Hire\" provisions ensuring IP ownership resides with the Parent.\n\n  **7. DATA PRIVACY AND SECURITY** \n     1. **Overview**\n        1. Provide a summary of data privacy in the data room by elaborating on the following in one paragraph.\n           1. The data room documents include certification under the Data Privacy Framework (EU-U.S., UK Extension, and Swiss-U.S.) effective November 7, 2023, with a renewal due date of October 29, 2025. The Company maintains ISO/IEC 27701:2019 and ISO 27001:2022 certifications, and conforms to BARR Advisory standards for information security management. Transaction documents (Series B and C SPAs) contain representations requiring the Company to maintain commercially reasonable security measures for Personal Information.\n           2. \n           3. \n     2. **Privacy Practices**\n        1. Privacy Policy\n           1. The Company maintains a Privacy Policy updated May 2024. Key obligations include compliance with GDPR and CCPA, fulfillment of data subject rights (access, deletion, portability), and limitations on processing purposes. The policy mandates that vendor contracts must limit processing purposes.\n        2. U.S. Privacy Compliance\n           1. The Company provides a CCPA template to customers designating itself as a \"Service Provider.\" This includes specific prohibitions on selling Personal Information and requirements to delete customer PI promptly upon request.\n        3. International Privacy Compliance\n           1. The Company maintains certification under the EU-U.S., UK Extension, and Swiss-U.S. Data Privacy Frameworks (certified Nov 7, 2023). DPA templates reference both the Data Privacy Framework and EU SCCs (Modules 2 & 3) as transfer mechanisms.\n        4. Marketing and Cookie Practices\n           1. [Information not provided in data room]\n     3. **Data Security Practices**\n        1. General Data Security\n           1. The Company maintains an Incident Response Plan (v1.5.1, dated May 22, 2025) which mandates a 24/7/365 response team. Material obligations include notifying customers of breaches within 72 hours (or 24 hours if required by specific regulation) and providing critical follow-up reporting within 14 days. Disaster recovery metrics include RPO and RTO of 24 hours. The Company is required to maintain a Disaster Recovery Plan covering all equipment, software, and data.\n        2. Security Controls, Assessments, and Testing\n           1. Service Level Agreements (SLAs) specify availability of 99.95% for critical modules (Workflow, DSR Portal) and 99.5% for non-critical systems. Technical documentation indicates the use of Cobalt.io for penetration testing and Ametros Group for GDPR representation. DevOps runbooks mandate minimum node resources of 16 vCPU and 64Gi Memory, and require response to Grafana alerts when Pod CPU/Memory utilization exceeds 80%.\n        3. Compliance Frameworks\n           1. The Company holds ISO/IEC 27701:2019 certification (valid through Sept 30, 2025).\n           2. The Company maintains an active listing on the CSA STAR Registry (Level 1), updated Feb 22, 2024.\n           3. Documentation confirms SOC 2 Type II compliance (2024 report) and adherence to NIST 800-53 and NIST AI RMF standards. The Company is obligated to review SOC 1 Type 2 reports for key service providers including Sage Intacct, Carta, CaptivateIQ, and Rippling.\n           4. The Company maintains ISO 27001:2022 certification (BARR Advisory).\n\n  **8. EMPLOYEE MATTERS**\n     1. **Overview**\n        1. Provide a summary of employee matters in the data room by elaborating on the following in one paragraph.\n           1. The data room provided Restricted Stock Purchase Agreements, Equity Incentive Plan amendments, and details on officer loans. Key \"Foundri Members\" (Dutta, Patel, Zamir, Ganapathy, Rinehart) executed employment agreements in November 2018 containing 12-month non-solicit obligations. Separation agreements were identified for M. Nakeva, Simon Brown, and Hawthorn. The Company maintains specific regulatory compliance in India, including Employees' Provident Fund (EPF) and Professional Tax registration. An \"Agreement to Comply\" document outlines user obligations regarding InfoSec and Acceptable Use, with access terminating immediately upon departure.\n           2. Headcount is distributed across the US, Pakistan, India, UK, Germany, and Australia.\n           3. Key arrangements include the 2019 Equity Incentive Plan and executive stock option grants.\n     2. **Equity Compensation**\n        1. Equity Incentive Plan(s)\n           1. The Company maintains a 2019 Equity Incentive Plan.\n           2. As of July 23, 2025, the share reserve for the plan was increased to 18,421,341 shares (historically 3,192,642 in 2019).\n           3. Grants include ISOs and NSOs with standard vesting schedules (25% cliff + monthly).\n           4. Plan includes change of control acceleration provisions (\"double-trigger\" for Rehan Jalil, 100% acceleration).\n           5. Repurchase Rights: Exercised for Humza Iqbal (46,875 shares in 2021) and Yoshifumi Takebuchi (Jan 2020).\n           6. 83(b) Elections: P. Angstadt filed election for 1.6M shares (Aug 2025).\n           7. Reference to Exhibit H - Detailed employee participation program details (phantom stock, RSUs, options, vesting conditions, replacement agreements)\n     3. **Employment Arrangements**\n        1. Executive Employment Agreements\n           1. Employment Agreements for \"Foundri Members\" executed Nov 2018 (Joy Dutta, Bharat Patel, Tanveer Zamir, Anand Ganapathy, Michael Rinehart) contain 12-month non-solicitation, indefinite confidentiality, and mandatory arbitration in Santa Clara, CA.\n           2. Aditya Singhal executed an agreement Sept 30, 2025, containing a 24-month non-solicit and 3-year non-recruit provision.\n        2. Offer Letters\n           1. [Information not provided in data room]\n           2. \n        3. Section 280G / Golden Parachute Considerations\n           1. Stock Purchase Agreements (e.g., Michael Rinehart, Rehan Jalil) contain 280G waiver/cutback provisions.\n        4. Deferred Compensation Arrangements\n           1. Board Consents reference 409A valuations (e.g., Oct 2019 valuation for Series A-1).\n        5. Severance and Settlements\n           1. M. Nakeva: Separation agreement dated July 26, 2023 (termination date Sept 30, 2023). Includes release of non-compete.\n           2. Simon Brown: Settlement agreement dated September 20, 2023 (£28,583.33 payment).\n           3. Hawthorn: Settlement agreement dated October 3, 2022 (£13,333.33 x2 + $8,653.67).\n           4. Barnett: Severance payment of £900.\n     4. **Incentive Compensation Plans**\n        1. Annual Bonus and Incentive Plans\n           1. Internal Pricing and Packaging Policy (Sept 30, 2025) outlines discount authority thresholds for sales representatives and leadership.\n           2. FY26 Compensation Plans (Effective Feb 1, 2025) specify clawback provisions (3 months unpaid) and triggers for booking vs. invoicing.\n     5. **Officer Loans**\n        1. Promissory Notes to Rehan Jalil: Two notes issued in 2023, each secured by 1,101,998 shares.\n        2. Promissory Note to James Stoddard: Issued 2021, secured by 125,000 shares, maturing December 2030.\n        3. Promissory Note to Ahmed Talha Khan: $100,000 principal, 1.26% interest, maturing April 29, 2025 (per Board Consent April 29, 2022).\n     6. **Health, Welfare & Retirement Benefits**\n        1. Provide a summary of Health, Welfare & Retirement Benefits in the data room by elaborating on the following in one paragraph by the appropriate jurisdiction.\n           1. In the US, the Company utilizes ADP for 401(k) administration; testing for 2025 (Sept 13, 2025 report) indicates HCE limit of 7.96% and deduction limit of 25%. Health coverage is provided via Kaiser (Nov 2023) with 80% employee/50% dependent contribution. Effective January 1, 2024, additional US welfare benefits are provided through MetLife, including Dental, Vision, Critical Illness, Accident, Hospital Indemnity, and Basic/Supplemental Life and AD&D insurance (Basic Life limit 1x annual earnings, max £400,000 equivalent). In India, operations maintain Group Health Insurance policies with Aditya Birla Health Insurance (effective June 20, 2025) and HDFC Life (effective June 21, 2025) covering 75 lives.\n           2. \n           3. \n     7. **International/Jurisdiction-Specific Employment Matters**\n        1. India: Compliant with Employees' Provident Funds and Miscellaneous Provisions Act, 1952 (PF Code BGBNG1963666000, coverage effective May 1, 2019). Registered for Professional Tax in Karnataka (Reg No. 377856491).\n        2. Subsidiary governance documents indicate local directors and officers (e.g., John Cunningham as Public Officer in Australia).\n        3. Reference to Exhibit I (Trade Licenses and Collective Bargaining Agreements)\n\n  **9. LITIGATION MATTERS**\n     1. **Overview**\n        1. Provide a summary of litigation matters in the data room by elaborating on the following in one paragraph.\n           1. The data room disclosed specific settlement agreements involving former employees in the UK and Netherlands. Tax disputes in Pakistan involving Section 161 (withholding) for Tax Years 2019, 2020, and 2021 resulted in payment demands, which were settled via payment in November 2024. Win-Loss reports from September 2025 identify competitors such as Cyera, BigID, and Varonis but do not indicate active litigation with these parties.\n           2. \n     2. **Litigation / Material Disputes**\n        1. Description of active litigation matters\n           1. [No active third-party litigation disclosed in data room]\n     3. **Resolved Matters**\n        1. Pakistan Tax Dispute: Notices issued for default in withholding tax (Section 161) and advance tax (Section 147) for Tax Years 2019–2021. Final demands of Rs. 56,761 (TY 2021) and associated arrears were paid in November 2024.\n        2. Simon Brown: Settlement Agreement executed September 20, 2023, involving a payment of £28,583.33 and legal fee contribution.\n        3. Hawthorn: Settlement Agreement executed October 3, 2022, involving payments of £13,333.33 (x2) and $8,653.67.\n        4. M. Nakeva: Separation agreement executed July 26, 2023.\n     4. **Settlement Agreements**\n        1. See Resolved Matters above.\n     5. **Bankruptcy-Related Matters**\n        1. [No bankruptcy matters disclosed in data room]\n\n  **10. REAL PROPERTY** \n     1. **Overview**\n     1. Provide a summary of real property matters in the data room by elaborating on the following in one paragraph.\n     1. The data room contains executed lease agreements for the Company's office locations in the United States (San Jose, North Carolina), Pakistan (Karachi, Islamabad), United Kingdom, India (Telangana), and Canada (British Columbia). Specifically, a primary lease is held with SR Winchester, LLC for the Santana West location, supported by a significant Letter of Credit. Sub-sublease arrangements exist for Santana Row, which required Master Landlord consent. International leases include agreements for the Karachi and Islamabad offices, as well as license agreements for co-working spaces in the UK.\n     2. \n     2. Provide a summary of real property agreements with each agreement in separate paragraphs with one paragraph for each agreement:\n     1. **Leased Properties - United States**\n     1. One Santana West Lease: Office Lease Agreement dated February 3, 2025, between SR Winchester, LLC (Landlord) and the Company (Tenant). The term is 78 months, with base rent ranging from approximately $45,000 to $54,000 per month. The lease is secured by a Letter of Credit in the amount of $262,790.60. A Temporary Premises Agreement was executed on September 30, 2025.\n     2. Santana Row Sub-sublease: Sub-sublease Agreement dated February 22, 2023, between InterVision Systems LLC (Sub-sublandlord) and the Company (Sub-subtenant). Rent is approximately $44,000 per month. Consent to Sub-sublease was granted by the Master Landlord on March 27, 2023. A subsequent Sublandlord Consent was executed on February 15, 2024.\n     3. Indenture of Lease (Units 203-A and 203-B): Dated February 2, 2023.\n     4. North Carolina Lease: Office Lease Agreement dated March 18, 2024.\n     2. **Leased Properties - Pakistan**\n     1. Karachi Office: Rent Agreement executed April 29, 2019, between Sheikh Nazaz Ali (Landlord) and Foundri (Private) Limited (Tenant). The lease has a term of approximately 10 years with an annual rent of PKR 1.48 million and an 8% escalation clause. Tax obligations reference FBR/SBR splits.\n     2. Islamabad Office: Rent Agreement executed October 5, 2022, between Hamid Mir (Landlord) and Foundri (Private) Limited (Tenant). The term is 4 years with an annual rent of PKR 1.39 million, a 10% escalation clause, and a security deposit equivalent to 4 months' rent.\n     3. **Leased Properties - Other Jurisdictions**\n     1. United Kingdom: Licence Agreement for Henry Wood House dated November 11, 2024, with The Office Group, stipulating a licence fee of £15,200 and an occupancy limit of 20 persons. An additional Licence Agreement for Office 2.13 was dated October 31, 2024.\n     2. India: Commercial Lease for Telangana premises executed April 23, 2025.\n     3. Canada: Commercial Lease for British Columbia premises executed September 9, 2025.\n\n  **11. REGULATORY AND TRANSACTION APPROVAL MATTERS**\n     1. **Overview**\n     1. Provide a summary of regulatory matters in the data room by elaborating on the following in one paragraph.\n     1. The data room contains good standing certificates and international regulatory filings. Discrepancies were noted in entity spellings (\"Foundry\" vs \"Foundri\") in Pakistan filings compared to vendor agreements; however, Pakistan tax notices confirm the legal name \"Foundri (Private) Limited.\" India operations hold valid IEC and TAN registrations. The Company holds a US Export Control Commodity Classification (CCATS) and is authorized for License Exception ENC. The Company actively manages regulatory compliance via CSA STAR Registry listings (Level 1), ISO 27701, and ISO 27001 certifications. Document review identified Proceeds Realization Certificates (PRCs) issued in September 2025 for Foundri Pvt Ltd, relevant to fund repatriation.\n     2. Transaction documents mandate compliance with FCPA, UK Bribery Act, and applicable sanctions laws.\n     3. Transaction approvals require Board and potentially Shareholder consent based on voting thresholds defined in the Certificate of Incorporation.\n     2. **Permits and Licenses**\n     1. Delaware Good Standing (Securiti, Inc.).\n     2. California Foreign Qualification Good Standing.\n     3. Pakistan SECP filings (Foundri) and Tax Registration.\n     4. India Importer-Exporter Code (IEC) Number ABBCS9383B (Issued May 15, 2019).\n     5. India Tax Deduction Account Number (TAN) BLRC71339E (Issued April 20, 2019).\n     6. India FLA Returns (Securiti Sciences Pvt Ltd) and FIRC certificates.\n     7. Australia ASIC filings (Securiti Sciences Pty Ltd, ACN 649 235 441).\n     8. British Columbia Protection Act certificate (Feb 2024).\n     3. **Anti-Corruption Compliance**\n     1. Share Exchange Agreements and Side Letters (e.g., Citi) include strict representations regarding FCPA and UK Bribery Act compliance.\n     4. **Sanctions Compliance**\n     1. Side Letters include representations regarding compliance with US, UN, and EU sanctions.\n     2. Corporate due diligence documents indicate monitoring of revenue thresholds for Austria, Brazil, Mexico, and Poland for merger control/foreign investment review.\n     5. **Export Control Compliance**\n     1. Commodity Classification (CCATS): The Company received CCATS Z1718060 on December 2, 2021.\n     2. Classification: Platform/Source Code classified under ECCN 5D002.c.1; Encryption technology under ECCN 5E002.a.\n     3. License Exception: Authorized for License Exception ENC under 15 C.F.R. 740.17.\n     4. Reporting: Semiannual reporting requirements apply (due Aug 1/Feb 1).\n     5. P7 Global Side Letter includes restrictions related to CFIUS.\n     6. **All Other Regulatory Compliance**\n     1. UK Register of Members and Secretaries maintained.\n     2. German Commercial Register filings for Managing Director appointments.\n     3. California 25102(f) Notice filed Oct 4, 2023 for Series C issuance.\n     4. IRS Form 1094-C filed for Tax Year 2024.\n     5. CSA STAR Registry (Level 1) listing updated Feb 22, 2024.\n     6. ISO 27001:2022 Certification maintained (BARR Advisory).\n     7. **Transaction Approvals**\n     1. Shareholder Approval Requirements\n     1. Series C Charter Amendment (Oct 31, 2024) indicates specific voting thresholds (57% of Series C) for certain protective provisions.\n     2. Sale of Company requires approval from 60% of Preferred Stock plus majority of Founder Common Stock.\n     2. Regulatory Approvals\n     1. \n     2. \n     3. \n     4. \n\n  **12. OTHER MATTERS** \n     1. **Insurance Policies**\n     1. General Liability and Property Insurance\n     1. The Company maintains a Business Owners Policy with Sentinel Insurance Company (The Hartford) effective January 25, 2025 to January 25, 2026, covering General Liability ($2M aggregate / $4M general aggregate). Commercial Umbrella coverage is included with a $10,000 retention.\n     2. Loss run reports from The Hartford dated September 26, 2025, indicate zero open or closed claims for the period of September 26, 2020, to September 25, 2025.\n     2. Directors and Officers Insurance\n     1. Executive Liability (D&O) coverage is held with Arch Insurance Company (Policy Term: Feb 21, 2025 – Jan 25, 2026) with a $3,000,000 aggregate limit ($2,000,000 D&O / $1,000,000 Employment Practices). The policy includes a Change of Control provision wherein coverage continues only for acts prior to the transaction, premiums become fully earned, and a 90-day notice is required. A Runoff Period is optional for an additional premium.\n     2. \n     3. \n     3. Cybersecurity Insurance\n     1. Cyber and Technology Insurance is provided by CFC Underwriting Limited (Primary) and At-Bay Specialty Insurance Company (Excess). The total coverage limit is $10,000,000 ($5,000,000 Primary + $5,000,000 Excess). The policy includes a retroactive date of October 21, 2019, and requires notification within 45 days if an acquired entity's annual revenue exceeds 20% of the Company's revenue.\n     2. Loss run reports from CFC dated September 29, 2025, indicate zero open or closed claims.\n     4. Other Material Insurance Policies\n     1. Key Man Insurance referenced in Share Exchange Agreements for Rehan Jalil ($1,000,000 minimum).\n     2. Employee Health (Kaiser) and Disability (MetLife) policies identified.\n     3. A Global Travel Assistance policy is maintained with AXA Assistance USA (Effective Jan 1, 2024) with an Emergency Medical Transport cap of $1,000,000.\n     4. Group Accident policies are maintained with National Union Fire Insurance Company (AIG) with amendments effective April 1, 2025.\n     5. **Insurance Claims History**\n     1. Loss run reports from The Hartford (General Liability) and CFC (Cyber/E&O) dated late September 2025 confirm zero open or closed claims during the reporting periods.\n     2. **Environmental Matters**\n     1. [Information not provided in data room]\n     3. **Tax and Financial Matters**\n     1. Summary of tax compliance status, outstanding liabilities, and material tax issues\n     2. Pakistan (Foundri Pvt Ltd): The Company received notices under Section 161 (Withholding) and Section 147 (Advance Tax) for Tax Years 2019, 2020, and 2021. Demands included Rs. 46,215,428 (TY 2021 notice). Final resolution involved an assessment order under Section 161 (July 2024) and a final payment of Rs. 56,761 executed in November 2024.\n     3. India (Securiti Sciences Pvt Ltd): Valid TAN (BLRC71339E) obtained. Professional Tax returns filed in Karnataka (e.g., Rs 8,800 paid for Aug 2025). FLA Returns filed for FY 2020-2023, 2025. Transfer Pricing Report for India FY 23-24 lists intercompany transaction value of INR 23,53,80,846 with a 14.54% operating margin.\n     4. Australia ATO filings (Public Officer appointment).\n     5. UK HMRC UTR registration (April 2021).\n     6. 1099-NEC payment obligation verified at $1,013,914.42.\n     7. Transfer pricing arrangements established via intercompany agreements (14.5% India / 5% others).\n     8. Financial Controls and Reconciliation: Internal analysis identified missing bank statements for the period of April 2025 through July 2025. A reconciliation variance of approximately $20.4 million exists between Net Revenue ($20,792k) and Cash Receipts ($41,183k). The Company is obligated to process adjustments for bad debt, commission clawbacks, and rent deposit returns, and to file outstanding Sales Tax/VAT returns.\n     9. \n     10. \n     11. \n     4. **Related Party Transactions**\n     1. Promissory Notes issued to Rehan Jalil (2023 grants secured by shares).\n     2. Stock transfers to Trusts controlled by Rehan Jalil (Abbasi Family Trust).\n     3. Loans to James Stoddard (125k shares secured) and Ahmed Talha Khan ($100k).\n     4. \n     5. \n     6. \n     7. \n\n  **13. EXHIBITS** \n     1. **Exhibit A - Capitalization Table**\n\n\n  **Authorized and Outstanding Securities:**\n  | Security Class | Authorized | Issued & Outstanding | Fully Diluted Shares | % Fully Diluted | Cash Received |\n  | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Common Stock | 90,914,230 | [#] | [#] | [%] | |\n  | Preferred Stock - Series A | 9,795,385 | [#] | [#] | [%] | |\n  | Preferred Stock - Series B | [#] | [#] | [#] | [%] | |\n  | Preferred Stock - Series C | 13,000,000+ | [#] | [#] | [%] | |\n  | Stock Options | - | - | 18,421,341 | [%] | |\n  | Total | [#] | [#] | [#] | 100% | |\n\n  **Capital Raised by Round:**\n  | Financing Round | Date | Security Type | Shares Issued | Price per Share | Amount Raised | Pre-Money Valuation | Post-Money Valuation | Lead Investor(s) |\n  | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Series A | Jan 2019 | Preferred A | [#] | $1.3782 | $[Amount] | $[Amount] | $[Amount] | Mayfield XV |\n  | Series A-1 | Mar 2019 | Preferred A-1 | [#] | $2.1425 | ~$9.5M | $[Amount] | $[Amount] | General Catalyst |\n  | Series B | Dec 2019 | Preferred B | [#] | $4.3911 | ~$50M | $[Amount] | $[Amount] | General Catalyst |\n  | Series C | July 2022 | Preferred C | [#] | $7.9190 | ~$87.17M | $[Amount] | $[Amount] | Owl Rock |\n\n  **Convertible Securities and Warrants:**\n  | Security Type | Holder | Issue Date | Principal/Exercise Amount | Conversion/Exercise Price | Conversion Terms | Expiration Date | Outstanding Amount |\n  | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Warrant | Silicon Valley Bank | July 25, 2019 | [#] | $2.1425 | Auto-convert on Acq | July 25, 2029 | [#] |\n  | Warrant | First-Citizens Bank | Dec 27, 2024 | [#] | $7.9190 | Auto-convert on Acq | Dec 27, 2036 | [#] |\n\n     2. **Exhibit B - Legal Entity Structure Chart**\n     1. Visual chart showing:\n     1. Parent: Securiti, Inc. (Delaware)\n     2. Subsidiary: Foundri (Private) Limited (Pakistan) [Spelling verified via tax notices]\n     3. Subsidiary: Securiti Sciences Pvt Ltd (India)\n     4. Subsidiary: Securiti Sciences Pty Ltd (Australia)\n     5. Subsidiary: Securiti Sciences Limited (UK)\n     6. Subsidiary: Securiti Sciences GmbH (Germany)\n     7. Subsidiary: Securiti, Inc. (British Columbia)\n     3. **Exhibit C - Subsidiary Profiles**\n     1. **Corporate Matters**\n     1. Entity Name: Securiti Sciences Pty Ltd\n     2. Jurisdiction of Formation: Australia\n     3. Date of Formation: April 6, 2021\n     4. Entity Type: Proprietary Limited\n     5. Ownership: Securiti, Inc. owns 100%\n     6. Principal Place of Business: [Address]\n     7. Directors/Managers: Rehan Jalil, James Stoddard, John Cunningham\n     8. Officers: John Cunningham (Public Officer)\n     2. **Executive Compensation and Employee Benefits**\n     1. Summary of subsidiary-level employment matters:\n     1. Number of Employees: [#]\n     2. Key Executives: [Names]\n     3. Compensation Structure: [Description]\n     4. Benefit Plans: [Description]\n     5. Equity Programs: [Description]\n     3. **Real Property**\n     1. Summary of subsidiary real property leases and material terms:\n  | Property Address | Lease Term | Monthly Rent | Expiration Date | Renewal Options | Key Terms |\n  | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Karachi, Pakistan | ~10 Years | PKR 1.48M | Apr 2029 | - | 8% Escalation |\n  | Islamabad, Pakistan | 4 Years | PKR 1.39M | Oct 2026 | - | 10% Escalation; 4 mo. deposit |\n  | Henry Wood House, UK | Licence | £15,200 | Nov 2025 | - | 20 persons max |\n  | Telangana, India | [Term] | [Amount] | [Date] | [Option] | Apr 23, 2025 Execution |\n  | British Columbia, CA | [Term] | [Amount] | [Date] | [Option] | Sep 9, 2025 Execution |\n\n     4. **Supplier Agreements (if applicable)**\n     1. Summary of material supplier agreements with key terms:\n  | Supplier Name | Services/Products | Annual Spend | Term | Key Terms |\n  | :--- | :--- | :--- | :--- | :--- |\n  | Foundri (Pvt.) Ltd | Office Maintenance | PKR 12/sq ft | Tied to Lease | Terminates with lease |\n\n     4. **Exhibit D - Historical Capital Structure/Shareholder History**\n     1. Detailed tables showing evolution of shareholders over time:\n  | Date | Transaction Type | Share Class | Number of Shares | Price per Share | Total Amount | Currency |\n  | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Nov 2018 | Restricted Stock | Common | 610,000 | $0.0001 | $61.00 | USD |\n  | Nov 2018 | Restricted Stock | Common | 850,000 | $0.0001 | $85.00 | USD |\n  | Jan 30, 2019 | Series A Financing | Preferred A | [#] | $1.3782 | [Amount] | USD |\n  | Dec 20, 2019 | Series B Financing | Preferred B | [#] | $4.3911 | ~$50M | USD |\n  | July 29, 2022 | Series C Financing | Preferred C | [#] | $7.9190 | ~$87M | USD |\n  | Jan 2025 | Charter Amendment | Series C Pref | 13M+ | - | - | USD |\n  | July 2025 | Charter Amendment | Common | 90M+ (Auth) | - | - | USD |\n\n  **Shareholder Ownership Evolution:**\n  | Shareholder Name | [Date 1] | [Date 2] | [Date 3] | [Date 4] | Current |\n  | :--- | :--- | :--- | :--- | :--- | :--- |\n  | [Name] | [%] ($[Amount]) | [%] ($[Amount]) | [%] ($[Amount]) | [%] ($[Amount]) | [%] ($[Amount]) |\n\n     5. **Exhibit E - Top 10 Customers by Revenue**\n     1. List of top 10 customers with revenue figures and detailed customer analysis\n  | Rank | Customer Name | Revenue (FY __) | % of Total Revenue | Contract Term | Key Terms/Notes |\n  | :--- | :--- | :--- | :--- | :--- | :--- |\n  | 1 | Gwinnett County | $58,905 | [%] | Dec 16 '22 - Dec 16 '23 | GA Open Records Act |\n\n     6. **Exhibit F - Material Agreements Summary**\n     1. Table or detailed summary of material agreement terms by location/category with key contract provisions across major agreements\n  | Agreement Type | Counterparty | Effective Date | Term/Expiration | Annual Value | Change of Control | Assignment Rights | Termination Rights | Renewal | Key Provisions |\n  | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Side Letter | Workday | 2021.02.26 | [Term] | $[Amount] | Yes | Consent Required | Rights terminate at >910,933 shares | [Auto/Manual] | Observer Rights |\n  | Side Letter | Aramco | [Date] | [Term] | $[Amount] | [Yes/No/Notice] | [Consent Required/Permitted] | [Rights] | [Auto/Manual] | [Observer Rights] |\n  | Side Letter | Owl Rock | 2022.07.29 | [Term] | $[Amount] | Yes | Consent Required | [Rights] | [Auto/Manual] | MFN Clause; Name Usage |\n  | Side Letter | Citi Ventures | 2023.01.27 | [Term] | $[Amount] | Yes | Consent Required | [Rights] | [Auto/Manual] | Significant Holder Info Rights |\n  | Side Letter | P7 Global | 2024.11.05 | [Term] | $[Amount] | Yes | Consent Required | [Rights] | [Auto/Manual] | CFIUS Restrictions |\n  | Customer | Gwinnett County | 2022.12.16 | 1 Year | $58,905 | [TBD] | [TBD] | [TBD] | [TBD] | GA Open Records Act; $3M Ins. |\n  | Customer | Healthcare Org | Apr 28, 2021 | N/A | N/A | [TBD] | [TBD] | On Termination | [TBD] | BAA; 5-day security breach notice |\n  | Vendor | AWS | 2025.01.30 | [Term] | $16.5M (Total) | [TBD] | [TBD] | No convenience termination | [TBD] | Tranche commitment |\n  | Vendor | Kaiser | 2023.11.22 | [Term] | [TBD] | [TBD] | [TBD] | 180-day notice | [TBD] | 80% Employee / 50% Dependent |\n  | Settlement | Simon Brown | 2023.09.20 | N/A | £28,583.33 | N/A | N/A | N/A | N/A | Confidentiality; Legal Fees |\n  | Settlement | Hawthorn | 2022.10.03 | N/A | £13.3k x2 + $8.6k | N/A | N/A | N/A | N/A | Confidentiality; Indemnification |\n  | Partner | Cisco | 2021.02.16 | [Term] | [TBD] | [TBD] | IPO >$50M / SPAC | [TBD] | ROFN (2-day notice) |\n  | Partner | Alliance | 2020 | [Term] | [TBD] | [TBD] | [TBD] | [TBD] | [TBD] | Non-Compete; $3M Ins. |\n  | Intercompany | Subsidiaries | 2025.08.21 | Indefinite | Cost+ | [TBD] | [TBD] | 90-day Convenience | [TBD] | 5-14.5% Markup |\n  | Strategy | Veeam | Sep 30 '25 | [TBD] | [TBD] | [TBD] | [TBD] | [TBD] | [TBD] | Business DD / Engagement |\n\n     7. **Exhibit G - Top 10 Vendors by Spending**\n     1. List of top vendors with spending figures and detailed vendor analysis\n  | Rank | Vendor Name | Annual Spend (FY __) | % of Total Spend | Services/Products | Key Terms/Notes |\n  | :--- | :--- | :--- | :--- | :--- | :--- |\n  | 1 | AWS | $16.5M (Total) | [%] | Cloud Services | No term for convenience |\n\n     8. **Exhibit H - Executive Compensation and Equity Summary**\n     1. Comprehensive table summarizing key terms of executive employment agreements and equity participation:\n  **Executive Employment Agreement Terms:**\n  | Executive Name | Title | Base Salary | Bonus Target | Severance (No Cause) | Severance (Change of Control) | Non-Compete Period | Non-Solicit Period | Agreement Date |\n  | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Rehan Jalil | CEO | $[Amount] | [%/Amount] | [Months/Amount] | Double Trigger (100% Accel) | [Months] | [Months] | [Date] |\n  | Joy Dutta | Foundri Member | [Amount] | [Amount] | [Amount] | [Amount] | N/A | 12 Months | Nov 14, 2018 |\n  | Bharat Patel | Foundri Member | [Amount] | [Amount] | [Amount] | [Amount] | N/A | 12 Months | Nov 15, 2018 |\n  | Aditya Singhal | [Title] | [Amount] | [Amount] | [Amount] | [Amount] | 3-Year Non-Recruit | 24 Months | Sept 30, 2025 |\n\n  **Employee Equity Participation:**\n  | Employee Name | Employer Entity | Award Type |\n  | :--- | :--- | :--- |\n  | Muthappa Kokkengada | Securiti, Inc. | Restricted Stock |\n  | Foundri, LLC | Securiti, Inc. | Restricted Stock |\n  | Tanveer Zamir | Securiti, Inc. | Restricted Stock (Nov 2018) |\n  | Anand Ganapathy | Securiti, Inc. | Restricted Stock (Nov 2018) |\n  | Michael Rinehart | Securiti, Inc. | Restricted Stock (Nov 2018) |\n\n     9. **Exhibit I - Trade Licenses and Collective Bargaining Agreements**\n  **Trade Licenses by Jurisdiction:**\n  | Jurisdiction | License Type | License Number | Issue Date | Expiration Date | Renewal Status | Issuing Authority | Business Activity |\n  | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Australia | ACN | 649 235 441 | Apr 6, 2021 | - | Active | ASIC | Corporation |\n  | India | CIN | U72502KA2012BIZKA20690.T | Apr 20, 2019 | - | Active | ROC | Corporation |\n  | India | IEC | ABBCS9383B | May 15, 2019 | - | Active | DGFT | Import/Export |\n  | India | TAN | BLRC71339E | Apr 20, 2019 | - | Active | Income Tax Dept | Tax Deduction |\n  | India | EPF | BGBNG1963666000 | May 28, 2019 | - | Active | EPFO | Employee PF |\n  | Canada | Business Number | 70929 8616 | Oct 24, 2018 | - | Active | CRA | Corporation |\n\n  **Employment Law Framework:**\n  | Jurisdiction | Applicable Employment Laws | Key Compliance Requirements | Notes |\n  | :--- | :--- | :--- | :--- |\n  | Australia | Corporations Act 2001 | Public Officer Appointment | Verified |\n\n     10. **Exhibit J - Background Search Summary**\n     1. Executive Officer Public Records Review\n  **Date of Report:** October 25, 2025\n  | Name | Title | Search Date | Material Findings | Comments |\n  | :--- | :--- | :--- | :--- | :--- |\n  | Rehan Jalil | Chief Executive Officer | [MM/DD/YYYY] | No material adverse findings | Based on data room provided |\n  | [Name] | Chief Financial Officer | [MM/DD/YYYY] | No material adverse findings | Based on data room provided |\n\n     14. **Annexes**\n     1. **Annex I - Data Room Index and Public Sources** \n  This Annex contains a comprehensive index of all documents reviewed in the Data Room, organized by category and folder structure, as well as a list of public sources consulted during the preparation of this Report.\n\n  **Data Room Structure and Documents Reviewed:**\n  | Folder Path | Document Name | Document Type | Date | Version | Data Room Reference | Review Status | Key Findings/Notes |\n  | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\n  | 1.5.1.3 | FCB_Securiti | Corporate Borrowing Cert | Dec 2024 | 1.0 | [DR-###] | Reviewed | Confirmed indebtedness limit |\n  | 1.3.11.2 | Indemnification_Jalil | Indemnification Agmt | [Date] | 1.0 | [DR-###] | Reviewed | 15% CoC trigger identified |\n  | 1.7.6.21 | Securiti_GoodStanding | Certificate of Good Standing | Oct 11, 2019 | 1.0 | [DR-###] | Reviewed | Verified DE status |\n  | 1.7.3.7 | Spousal Consent (Ganapathy) | Stock Transfer | Aug 14, 2025 | 1.0 | [DR-###] | Reviewed | Supriya Sairam; Consent to sale |\n  | 1.7.3.12 | Spousal Consent (Asif) | Stock Transfer | 2025 | 1.0 | [DR-###] | Reviewed | Spouse of Muhammad Asif; Consent |\n  | 8.21.4.1 | Chakrauarthi Chigurupati Foundri | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.9 | FoundriConfirmatoryIP_Anand_Ganapathy | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.2 | Foundri - Bharat Patel Confirmatory IP | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.3 | Foundri - Joy Dutta - Confirmatory IP | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.10 | Michael Busha - Foundri - Confirmatory IP | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.4 | Foundri - Michael Rinehart - Confirmatory IP | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.5 | Foundri - Muhammad Asif - Con_nt | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.6 | Foundri - Muthappa Kokkenga_ssignment | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.7 | Foundri - Tanvear Zamir - Confirmatory IP | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 8.21.4.8 | Foundri - Yoshifumi Takebuch_Assignment | IP Assignment | Nov 15, 2018 | 1.0 | [DR-###] | Reviewed | Confirmatory IP Assign / Moral Waiver |\n  | 6.2.1 | Trademark Schedule for Securiti Inc | TM Schedule | Sept 4, 2022 | 1.0 | [DR-###] | Reviewed | DATACOMMAND CENTER Allowed |\n  | 6.2.2 | Patent list | Patent Schedule | Mar 2025 | 1.0 | [DR-###] | Reviewed | 3 Applications / Trade Secret List |\n  | 1.7.2.21 | Securiti - Series C - Schedule of Exceptions | Disclosure Schedule | 2024 | 1.0 | [DR-###] | Reviewed | Series C Disclosures |\n  | 1.9 | Internet Domains - Social Media Accounts | Asset Inventory | Sep 30, 2025 | 1.0 | [DR-###] | Reviewed | Domain List |\n  | 5.1 | Product and Tech Overview | Technical Doc | N/A | 1.0 | [DR-###] | Reviewed | Tech Overview |\n  | 5.10 | OSS and 3rd Party Software | OSS Inventory | Sep 19, 2025 | 1.0 | [DR-###] | Reviewed | 52k MIT / 32 LGPL / 20 GPL |\n  | [New] | Intercompany Agmts | Transfer Pricing | Aug 21, 2025 | 1.0 | [DR-###] | Reviewed | 14.5% India / 5% Others |\n  | [New] | Gwinnett County | Customer Contract | Dec 16, 2022 | 1.0 | [DR-###] | Reviewed | GA Open Records Act |\n  | [New] | AWS Agmt | Vendor Contract | Jan 30, 2025 | 1.0 | [DR-###] | Reviewed | $16.5M Commit / No Term for Conv. |\n  | [New] | Cisco Partner | Partner Agreement | Feb 16, 2021 | 1.0 | [DR-###] | Reviewed | ROFN / Standstill |\n  | [New] | Simon Brown | Settlement Agmt | Sep 20, 2023 | 1.0 | [DR-###] | Reviewed | £28,583.33 payment |\n  | [New] | Hawthorn | Settlement Agmt | Oct 3, 2022 | 1.0 | [DR-###] | Reviewed | £13.3k x2 + $8.6k |\n  | [New] | MetLife Cert Dental Low | Certificate of Insurance | Jan 1, 2024 | 1.0 | [DR-###] | Reviewed | Dental Coverage |\n  | [New] | MetLife Cert Vision | Certificate of Insurance | Jan 1, 2024 | 1.0 | [DR-###] | Reviewed | Vision Coverage |\n  | [New] | CyberTech E-O | Excess Insurance Policy | Jan 27, 2025 | 1.0 | [DR-###] | Reviewed | $5M Excess |\n  | [New] | Sentinel/Hartford BOP | Policy | Jan 25, 2025 | 1.0 | [DR-###] | Reviewed | Gen Liability |\n  | [New] | Arch Exec Liability | D&O Policy | Feb 21, 2025 | 1.0 | [DR-###] | Reviewed | CoC Trigger / $3M Limit |\n  | [New] | ABHI GHI | Invoice | Jun 20, 2025 | 1.0 | [DR-###] | Reviewed | India Health Ins |\n  | [New] | HDFC Life | Statement of Investment | Jun 21, 2025 | 1.0 | [DR-###] | Reviewed | India Life Ins |\n  | [New] | Loss Runs - Cyber | Report | Sep 29, 2025 | 1.0 | [DR-###] | Reviewed | Zero Claims |\n  | 1.4.3.3 | TAN Allottment Letter | Regulatory | Apr 20, 2019 | 1.0 | [DR-###] | Reviewed | India Tax Reg (BLRC71339E) |\n  | 1.4.3.10 | IEC Certificate | Regulatory | May 15, 2019 | 1.0 | [DR-###] | Reviewed | India Import/Export (ABBCS9383B) |\n  | 1.4.3.13 | EPF Allotment | Regulatory | May 28, 2019 | 1.0 | [DR-###] | Reviewed | India PF (BGBNG1963666000) |\n  | 1.4.3.24.3 | PT Form 5 | Tax Filing | Sept 16, 2025 | 1.0 | [DR-###] | Reviewed | Karnataka Prof. Tax Payment |\n  | 8.22.3.5.4 | Order Sec 161 | Tax Notice | July 12, 2024 | 1.0 | [DR-###] | Reviewed | Pakistan Tax Demand (Rs. 56,761) |\n  | 8.22.3.5.6 | CPR Payment | Proof of Payment | Nov 19, 2024 | 1.0 | [DR-###] | Reviewed | Paid Pakistan Tax Arrears |\n  | 1.10 | CCATS Z1718060 | Export Control | Dec 2, 2021 | 1.0 | [DR-###] | Reviewed | ECCN 5D002.c.1 / 5E002.a |\n  | 8.4.8 | Data Privacy Framework | Certification | Nov 7, 2023 | 1.0 | [DR-###] | Reviewed | EU-US DPF Certified |\n  | [Real Property] | Karachi Office Rent | Lease Agreement | Apr 29, 2019 | 1.0 | [DR-###] | Reviewed | Term 10 years / Foundri |\n  | [Real Property] | ISB Office Rent | Lease Agreement | Oct 5, 2022 | 1.0 | [DR-###] | Reviewed | Term 4 years / Foundri |\n  | [Real Property] | Unit 203-A/203-B | Indenture of Lease | Feb 2, 2023 | 1.0 | [DR-###] | Reviewed | US Lease |\n  | [Real Property] | Santana Row | Sub-sublease | Feb 22, 2023 | 1.0 | [DR-###] | Reviewed | InterVision / Securiti |\n  | [Real Property] | Sub-sublease Consent | Consent | Mar 27, 2023 | 1.0 | [DR-###] | Reviewed | Master Landlord Consent |\n  | [Real Property] | One Santana West | Office Lease | Feb 3, 2025 | 1.0 | [DR-###] | Reviewed | Term 78 mo / SR Winchester |\n  | [Real Property] | Henry Wood House | Licence Agreement | Nov 11, 2024 | 1.0 | [DR-###] | Reviewed | UK / The Office Group |\n  | 8.4.7 | STAR Registry Listing | Compliance Cert | Jun 21, 2021 | 1.0 | [DR-###] | Reviewed | Active Listing / STAR Level 1 |\n  | 5.9.3 | Posture-Collector | Technical Spec | Sep 25, 2021 | 1.0 | [DR-###] | Reviewed | Tech Spec |\n  | 8.5.1 | Privacy Policy | Policy | May 2024 | 1.0 | [DR-###] | Reviewed | GDPR/CCPA Compliance |\n  | 8.11.4 | ISO 27701-2019 | Certification | Sep 30, 2024 | 1.0 | [DR-###] | Reviewed | Exp Sept 30, 2025 |\n  | 5.9.6 | Incident Response Plan | Internal Policy | May 22, 2025 | 1.5.1 | [DR-###] | Reviewed | 72hr Breach Notification |\n  | 8.3.4 | BAA - CE to BA | Agreement | Apr 28, 2021 | 1.0 | [DR-###] | Reviewed | 5-day Security Breach Notice |\n  | 8.3.7 | Securiti CCPA Template | Agreement Template | Sep 30, 2025 | 1.0 | [DR-###] | Reviewed | Service Provider Designation |\n  | 5.9.5 | Error Budgets | Technical Doc | Sep 30, 2025 | 1.0 | [DR-###] | Reviewed | 99.95% Availability |\n  | 8.3.12 | DPA Template | Agreement Template | Sep 30, 2025 | 1.0 | [DR-###] | Reviewed | SCCs / DPF / Vendor List |\n  | 3.3.1 | MySecurity Diagnostic | Partner Doc | Sep 30, 2025 | 1.0 | [DR-###] | Reviewed | Accenture / NIST 800-53 |\n  | 2.15 | Cash Analysis | Financial Rpt | July 2025 | - | [DR-###] | Reviewed | Reconciliation Variance |\n  | 8.22.2.2 | Foundri PRCs | Regulatory | Sep 25, 2025 | - | [DR-###] | Reviewed | Proceeds Realization Certs |\n  | 2.12 | Control Cycle | Internal Control | Living | - | [DR-###] | Reviewed | ISO 27001:2022 / BARR |\n  | 4.9 | Pipeline Breakdown | Sales Rpt | Sep 9, 2025 | - | [DR-###] | Reviewed | Sales Pipeline |\n  | 4.1 | Win-Loss Report | Sales Rpt | Sep 30, 2025 | - | [DR-###] | Reviewed | Competitors: Cyera, BigID |\n  | 4.6 | Veeam Business DD | Strategy | Sep 30, 2025 | - | [DR-###] | Reviewed | Veeam Engagement |\n  | 4.11 | GTM Strategy | Strategy | Sep 30, 2025 | - | [DR-###] | Reviewed | MEDDPPICC / Segmentation |\n  | 5.9.7 | Epod V2 Runbook | Technical | Sep 21, 2025 | - | [DR-###] | Reviewed | Kubernetes |\n  | 5.9.1 | Workflow Alerts | Technical | Sep 30, 2025 | - | [DR-###] | Reviewed | Alert Definitions |\n  | 5.9.2 | Runbook Automation | Technical | Sep 30, 2025 | - | [DR-###] | Reviewed | Auto-scaling |\n  | 5.3.1 | Shasta Connectors | Technical | Sep 30, 2025 | - | [DR-###] | Reviewed | Connector Catalogue |\n\n  **Public Sources Consulted:**\n  | Source Type | Source Name | Description | Date Accessed | URL/Reference | Information Obtained |\n  | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Corporate Registry | Delaware Division of Corporations | Corporate good standing verification | Oct 2025 | [URL] | Verified entity status |\n\n  **Documents Requested but Not Provided:**\n  | Document Category | Document Description | Requested Date | Follow-up Date | Status | Impact on Review |\n  | :--- | :--- | :--- | :--- | :--- | :--- |\n  | Customer Contracts | Full copies of material customer agreements | [Date] | [Date] | Pending | High |\n  | Vendor Contracts | Full copies of material vendor agreements | [Date] | [Date] | Pending | Medium |\n\n     2. **Annex II - Assumptions and Limitations** \n  This Report has been prepared subject to the following assumptions and limitations:\n  1. **Reliance on Information**\n  This Report is based solely on documents made available in the Data Room and publicly available information as identified in Annex I. We have assumed the authenticity, accuracy, and completeness of all documents reviewed and have not independently verified such information. We have not conducted interviews with management, employees, customers, vendors, or other stakeholders. Any inaccuracies or omissions in source materials may affect the conclusions and findings set forth in this Report.\n  2. **No Legal Advice**\n  This Report does not constitute legal advice or a legal opinion. The preparer is not acting as legal counsel and has not been engaged to provide legal services. This Report is intended solely for preliminary informational purposes and should be reviewed by qualified legal counsel prior to making any business or legal decisions. Please note that this memorandum is in draft form and subject to modification as additional documents are received and reviewed, and is also subject to additional assumptions, limitations, and qualifications set forth in Annex II.\n  3. **Not an Attorney-Client Relationship**\n  The preparation and delivery of this Report does not create an attorney-client relationship between the preparer and any recipient of this Report. No attorney-client privilege or work product protection applies to this Report or the information contained herein.\n  4. **Review Scope and Limitations**\n  The review conducted in connection with this Report was limited in scope, time, and resources. This was a preliminary document review and not a comprehensive legal due diligence investigation. A full legal due diligence review conducted by qualified legal counsel over an extended period may reveal additional issues, risks, or concerns not identified in this Report.\n  The review was limited to:\n     * Documents available in the Data Room as of October 25, 2025\n     * Publicly available information accessible as of October 25, 2025\n     * [Any other specific scope limitations]\n  The review did not include:\n     * Interviews with management, employees, or third parties\n     * Site visits or physical inspections\n     * Independent financial analysis or financial statement audit\n     * Technical review of software code or IT systems\n     * Environmental site assessments\n     * Detailed regulatory compliance audits\n     * [Any other exclusions]\n  5. **Governing Law and Enforceability**\n  This Report does not constitute an analysis of the legal enforceability of any contracts, agreements, or other documents under applicable law. Determinations regarding the validity, enforceability, and legal effect of any documents should be made by qualified legal counsel admitted to practice in the relevant jurisdictions. References to terms and provisions of agreements are based on the preparer's reading of such documents and should not be considered legal interpretations.\n  6. **Not a Recommendation**\n  This Report does not constitute a recommendation to proceed with, reject, or modify any proposed transaction or business arrangement. This Report is provided for informational purposes only. Any business decisions should be made only after consultation with legal, financial, tax, accounting, and other appropriate professional advisors, and after conducting such additional due diligence as the recipient deems appropriate.\n  7. **Jurisdictional Limitations**\n  The preparer is not qualified to practice law in any jurisdiction and does not purport to provide legal analysis under the laws of any specific jurisdiction, including but not limited to:\n     * Corporate and commercial law\n     * Securities law\n     * Employment and labor law\n     * Intellectual property law\n     * Real estate law\n     * Tax law\n     * Regulatory and compliance law\n  All legal matters should be reviewed by counsel qualified and admitted to practice in the relevant jurisdictions.\n  8. **Currency and Subsequent Events**\n  This Report reflects information available and circumstances existing as of October 25, 2025. Circumstances may change after the date of this Report, and the preparer has no obligation to update, revise, or reaffirm this Report for events or circumstances occurring after such date. Laws, regulations, and business conditions may change, and such changes may materially affect the information, findings, and conclusions set forth in this Report.\n  9. **Third-Party Reliance**\n  This Report has been prepared solely for the benefit of [] (\"Recipient\") for the specific purpose of []. This Report may not be relied upon by any third party, nor may it be disclosed, quoted, referred to, or provided to any third party without the express prior written consent of the preparer. The preparer assumes no responsibility or liability to any third party who may come into possession of this Report.\n  10. **Liability Limitations**\n  To the maximum extent permitted by applicable law, the preparer's aggregate liability to the Recipient arising out of or in connection with this Report, whether based on contract, tort (including negligence), strict liability, or any other legal theory, shall not exceed the fees actually paid to the preparer for the preparation of this Report, which is $[________] (or, if no fees were paid, shall not exceed $[_______]).\n  The preparer shall not be liable for:\n     * Any indirect, incidental, consequential, special, or punitive damages\n     * Any damages arising from the Recipient's reliance on this Report in making business decisions\n     * Any damages arising from inaccuracies or omissions in source documents provided by the Company or obtained from third-party sources\n     * Any damages arising from changes in circumstances or law after the date of this Report\n     * Any damages arising from unauthorized disclosure or use of this Report by third parties\n  11. **Document Versions and Execution Status**\n  Where multiple versions or drafts of a document were available, the most recent version has been reviewed unless otherwise noted. We have assumed that all agreements, contracts, and other documents reviewed are in final, executed form and legally binding on the parties, unless the documents clearly indicate otherwise (e.g., labeled as \"draft\" or \"unsigned\"). We have not verified the execution status of all documents.\n  12. **No Due Diligence of Third Parties**\n  We have not conducted any due diligence investigation regarding the financial condition, creditworthiness, reputation, or legal compliance of any customers, vendors, partners, investors, or other third parties referenced in this Report. References to third parties are based solely on information provided by the Company and do not constitute any endorsement or verification of such parties.\n  13. **Translation and Foreign Language Documents**\n  Where documents in foreign languages were reviewed, we have relied on English translations provided by the Company or other sources. We have not independently verified the accuracy of such translations. For documents governed by foreign law or involving foreign jurisdictions, local counsel qualified in such jurisdictions should be consulted.\n  14. **Confidentiality**\n  The recipient acknowledges that this Report contains confidential and proprietary information regarding the Company. The recipient agrees to maintain the confidentiality of this Report and to use it solely for the purpose for which it was prepared.\n  15. **Professional Standards Disclaimer**\n  This Report was not prepared in accordance with any specific professional standards for legal due diligence reviews, as the preparer is not acting as legal counsel. The methodology, scope, and format of this Report are based on the preparer's judgment and the specific circumstances of this engagement.\n  16. **Disclaimer Regarding Completeness**\n  While efforts have been made to identify material issues based on the documents reviewed, there can be no assurance that all material issues have been identified. Hidden, undisclosed, or undiscoverable issues may exist that could materially affect the business, financial condition, or legal status of the Company. Additional due diligence by qualified professionals is strongly recommended.\n  ________________\n\n\n  **CLOSING DISCLAIMERS**\n  This Report has been prepared for preliminary informational purposes only and should not be relied upon as a substitute for comprehensive legal due diligence conducted by qualified legal counsel. The recipient of this Report acknowledges and agrees that:\n     1. This Report does not constitute legal advice or create an attorney-client relationship;\n     2. The preparer makes no representations or warranties regarding the accuracy or completeness of this Report;\n     3. The recipient should consult with qualified legal, financial, tax, and other advisors before making any business or legal decisions;\n     4. The preparer shall have no liability to the recipient or any third party in connection with this Report except as may be expressly agreed in writing; and\n     5. This Report is confidential and may not be disclosed to third parties or relied upon by third parties without the express written consent of the preparer.\n  BY ACCEPTING AND REVIEWING THIS REPORT, THE RECIPIENT ACKNOWLEDGES THAT IT HAS READ, UNDERSTOOD, AND AGREED TO ALL DISCLAIMERS, ASSUMPTIONS, AND LIMITATIONS SET FORTH HEREIN AND IN ANNEX II."
        }
      }
    ]
  },
  "repo_name": "n8n-backup-zm",
  "repo_owner": "zlatkomq",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-02T08:27:38.921Z",
      "createdAt": "2025-12-02T08:27:38.921Z",
      "role": "workflow:owner",
      "workflowId": "6OAXCREjFSECrs9i",
      "projectId": "p3ICmuTDnWBbcf7S"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-10T11:30:29.821Z",
  "versionId": "9694a16f-4527-4b7f-8102-4a1b6d3fba75"
}